@charset "UTF-8";

html{
    font-size:100%;
}

body{
    font-family:"Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height:1.7;
    color:#432;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
}

.logo{
    width:210px;
    margin-top:14px;
}

.main-nav{
    display:flex;
    font-size:1.25rem;
    text-transform:uppercase;
    margin-top:34px;
    list-style:none;
}

.main-nav li{
    margin-left:36px;
}

.main-nav a{
    color:#ffffff;
}

.main-nav a:hover{
    color:#4a551e;
}

.page-header{
    display:flex;
    justify-content:space-between;
}

.wrapper{
    max-width:1100px;
    margin:0 auto;
    padding:0 4%;
}

.home-content{
    text-align:center;
    margin-top:10%;
    color:#000000;
}

.page-title{
    font-size:4rem;
    font-family:'Philosopher',serif;
    text-transform:uppercase;
    font-weight:normal;
    text-align:center;
}

.button{
    font-size:1.375rem;
    background:#0bd;
    color:#fff;
    border-radius:5px;
    padding:18px 32px
}

.button:hover{
    background:#0090aa;
}

.big-bg{
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;
}

#home{
    background-image:url(../images/IMG_6841.JPG);
    min-height:100vh;
}
#home .page-title{
    text-transform:none;
}

footer{
    background:#02022f;
    text-align:center;
    padding:26px 0;
}

footer p{
    color:#fff;
    font-size:0.875rem;
}

.photo {
    width:50%;
    margin-top:14px;
}

.profile {
    width:50%;
    font-size:1.25rem;
    text-transform:uppercase;
    margin-top:34px;
}

.aboutme{
    display:flex;
}

.grid{
    display:grid;
    gap:26px;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-top:6%;
    margin-bottom:50px;
}

#Skill{
    background-color:#d1ecf3;
    min-height:100vh;
}

#Product{
    background-color:#97cdf3;
    min-height:200vh;
    color:#fff;
    
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cp_cssslider {
    width: 600px;
    padding-top: 500px; /* 画像の高さ */
    position: relative;
    margin: 2em auto;
    text-align: center;
}

.cp_cssslider > img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    border-radius: 3px;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.3);
}


/* サムネイル */
.cp_cssslider label {
    margin: 15px 5px 0 5px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0.6;
    border-radius: 3px;
}

.cp_cssslider label:hover {
    opacity: 0.9;
}

.cp_cssslider label img {
    display: block;
    width: 100px;
    border-radius: 2px;
}

/* スライドショー1 */
.cp_cssslider input[name='cp_switch1'] {
    display: none;
}

.cp_cssslider input[name='cp_switch1']:checked + label {
    border: 2px solid #FF7043;
    opacity: 1;
}

.cp_cssslider input[name='cp_switch1'] ~ img {
    opacity: 0;
}

.cp_cssslider input[name='cp_switch1']:checked + label + img {
    opacity: 1;
}

/* スライドショー2 */
.cp_cssslider input[name='cp_switch2'] {
    display: none;
}

.cp_cssslider input[name='cp_switch2']:checked + label {
    border: 2px solid #FF7043;
    opacity: 1;
}

.cp_cssslider input[name='cp_switch2'] ~ img {
    opacity: 0;
}

.cp_cssslider input[name='cp_switch2']:checked + label + img {
    opacity: 1;
}
/* スライドショー3 */
.cp_cssslider input[name='cp_switch3'] {
    display: none;
}

.cp_cssslider input[name='cp_switch3']:checked + label {
    border: 2px solid #FF7043;
    opacity: 1;
}

.cp_cssslider input[name='cp_switch3'] ~ img {
    opacity: 0;
}

.cp_cssslider input[name='cp_switch3']:checked + label + img {
    opacity: 1;
}

.calender{
    display:flex;
}

.alldescription{
    font-size:1.5rem;
    text-transform:uppercase;
    margin-top:34px;
    color:#ffffff;
    width:600px;
}

.alldescription p{
    font-weight:bold;
    border-bottom:2px rgb(255, 255, 255) solid;
    padding:12px 10px;
}

.description{
    margin-top: 30px;
    padding:12px 10px;
    font-size:1.25rem;
    margin-bottom:60px;
}

.kakeibo{
    display:flex;
}

.chat{
    display:flex;
}

.contact{
    display:flex;
}

.github{
    margin-top:300px;
    width:150px;
    height:150px;
    margin-right:150px;
    margin-left:150px;
}

.sns1{
    text-align:center;
    font-size:1.25rem;
}

.qita{
    margin-top:300px;
    width:140px;
    height:140px;
}

.sns2{
    text-align:center;
    font-size:1.25rem;
}

@media(max-width:600px){
    .page-title{
        font-size:2.5rem;
    }
    .main-nav{
        font-size:1rem;
        margin-top:10px;
    }
    .main-nav li{
        margin:0 20px;
    }
    .home-content{
        margin-top:20%;
    }
    .page-header{
        flex-direction:column;
        align-items:center;
    }
    .aboutme{
        flex-direction:column;
        align-items:center;
    }
    .photo{
        margin-left:130px;
    }
    .grid{
        display:grid;
        gap:26px;
        grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
        margin-top:6%;
        margin-bottom:50px;
    }
    .calender{
        flex-direction:column;
        align-items:center;
    }
    .description{
        font-size:1.5rem;
        margin-top:10px;
    }
    .kakeibo{
        flex-direction:column;
        align-items:center;
    }
    .chat{
        flex-direction:column;
        align-items:center;
    }
    .contact{
        flex-direction:column;
        align-items:center;
    }
    .github{
        margin-top:10px;
    }
    .qita{
        margin-top:10px;
    }
    
}


